<ion-header no-border>
  <ion-navbar [color]="(canEat.check() | async) ? 'secondary' : 'dark'">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
  </ion-navbar>
</ion-header>

<ion-content [ngClass]="(canEat.check() | async) ? 'light' : 'dark'">
  <ion-grid text-center class="can-eat-grid">
    <ion-row align-items-center>
      <ion-col class="text">
        {{(canEat.check() | async) ? 'Yes!' : 'No.'}}
      </ion-col>
    </ion-row>

    <!-- <ion-row *ngIf="!(canEat.check() | async)">
      <ion-col>
        <button ion-button block *ngIf="!(canEat.check() | async)" (click)="readQuran()">
          Why not pass the time by reading some Quran
        </button>
      </ion-col>
    </ion-row> -->

    <ion-row>
      <ion-col>
        <strong>Fajr</strong>
        <br>
        {{(prayerTimes.getTimesObservable() | async)?.fajr}}
      </ion-col>
      <ion-col>
        <strong>Dhuhr</strong>
        <br>
        {{(prayerTimes.getTimesObservable() | async)?.dhuhr}}
      </ion-col>
      <ion-col>
        <strong>Maghrib</strong>
        <br>
        {{(prayerTimes.getTimesObservable() | async)?.maghrib}}
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
